.home {
    padding: 15% 0;
    background-color: white;
    color: black;
    text-align: center;
    height: 900px;
    
  }
  
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;

  }
  
  .home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .home-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .home-image {
    max-width: 100%;
    height: 500px;
    margin-top: -9%;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  