
.dashboard {
    padding: 20px;
    background-color: darkslateblue;
    color: white;
    
  }
  
  h1 {
     text-align: center;
    margin-bottom: 20px;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  .task-input-col label{
    color: black;
  }
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task-item h3 {
    font-size: 18px;
    margin: 0;  color: black;
  }
  
  .task-item p {
    font-size: 14px;
    margin: 5px 0;
    color: black;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .task-buttons{
    
    color: white;
  }
